default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV['RDS_DB_NAME'] || 5 %>

development:
  <<: *default
  database: pokemon_api_development

test:
  <<: *default
  database: pokemon_api_test

production:
  <<: *default
  database: <%= ENV['RDS_DB_NAME'] %>
  username: <%= ENV['RDS_USERNAME'] %>
  password: <%= ENV['RDS_PASSWORD'] %>
  host: <%= ENV['RDS_HOSTNAME'] %>
  port: <%= ENV['RDS_PORT'] %>
